@import "./variables.css";

/*=============== GLOBAL STYLE ==================*/

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  text-align: start;
  width: fit-content;
}

li p {
  max-width: 700px;
}

hr {
  background-color: #94bbe9;
  height: 3px;
  border: none;
}

.container {
  margin-top: 20px;
  text-align: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  min-width: 500px;
  max-width: 800px;
  padding: 20px 40px 20px 20px;
}

/* ---------------------------------- */
